h1 {
    color: white;
}

/** {
    border: solid;
}*/

.header{
    background-color: #3D2307;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    font-size: 20px;
    font-family: Times;

}

.name{
    background-color: #3D2307;
    display: flex;
    
}

.pages{
    background-color: #3D2307;
    display: flex;
    align-items: flex-start;

}

.pages a{
    margin: 50px;

}

.home{
    background-color: #dc7633;
    display: flex;
    position: relative;
}
.home p{
    position: absolute;
}

.footer{
    background-color: #ffffff;
    display: flex;
    
}

a:link{
color: white;
}

a:visited{
    color: black;
    }

a{
    flex-direction: column;
}